html
  height: 100%

body
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  padding: 10px
  background-color: #e6e6e6
  height: 100%
  color: #5b5b5b

.has-vertical-center
  display: flex
  flex-direction: column
  justify-content: center
  height: 100%

.has-text-grey-lighter
  color: #cdcdcd
    
.is-size-2
  font-size: 2.5rem