*,
*::before,
*::after
  box-sizing: border-box

html,
body,
dl,
dt,
dd
  margin: 0
  padding: 0

p
  margin-top: 0
  margin-bottom: 1rem

body
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  padding: 10px